In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

half_length_low = np.random.uniform(low=200, high=230, size=10000)
proppant_low = np.random.uniform(low=20, high=40, size=10000)
fluid_low = np.random.uniform(low=150, high=270, size=10000)



# make a dataframe with the data
df_frac_low = pd.DataFrame({'half_length': half_length_low,
                        'proppant': proppant_low,
                        'fluid': fluid_low})
half_length_high = np.random.uniform(low=230, high=260, size=10000)
proppant_high = np.random.uniform(low=30, high=60, size=10000)
fluid_high = np.random.uniform(low=220, high=300, size=10000)

# make a dataframe with the data
df_frac_high = pd.DataFrame({'half_length': half_length_high,
                        'proppant': proppant_high,
                        'fluid': fluid_high})
df_frac_high.head()

   half_length   proppant       fluid
0   241.976957  52.403990  298.827856
1   255.121106  52.979943  284.939899
2   256.612416  53.695474  292.796019
3   259.792210  39.673166  223.925997
4   255.649243  53.061617  262.182777

In [32]:
gross_high = np.random.uniform(low=8, high=20, size=10000)
net_high = np.random.uniform(low=10, high=18, size=10000)
pi_high = np.random.uniform(low=0.1, high=1, size=10000)
perm_high = np.random.uniform(low=0.1, high=0.5, size=10000)
poro_high = np.random.uniform(low=5, high=8, size=10000)

df_res_high = pd.DataFrame({'gross': gross_high,
                        'net': net_high,
                        'pi': pi_high,
                        'perm': perm_high,
                        'poro': poro_high})

gross_low = np.random.uniform(low=1, high=15, size=10000)
net_low = np.random.uniform(low=2, high=14, size=10000)    
pi_low = np.random.uniform(low=0.1, high=0.7, size=10000)
perm_low = np.random.uniform(low=0.1, high=0.5, size=10000)
poro_low = np.random.uniform(low=4, high=9, size=10000)

df_res_low = pd.DataFrame({'gross': gross_low,
                        'net': net_low,
                        'pi': pi_low,
                        'perm': perm_low,
                        'poro': poro_low})

df_res_low.head()

      gross        net        pi      perm      poro
0  6.905236   6.706126  0.277432  0.156698  7.791047
1  1.273507   8.542143  0.639636  0.109525  6.323403
2  5.029536  12.301940  0.698742  0.190633  5.453702
3  9.665719  12.444233  0.253450  0.447716  8.973755
4  3.761849   5.959445  0.635950  0.473424  4.481173

In [34]:
production_low = np.random.uniform(low=100, high=300, size=10000)
production_high = np.random.uniform(low=300, high=1000, size=10000)

df_prod_low = pd.DataFrame({'production': production_low})
df_prod_high = pd.DataFrame({'production': production_high})

In [37]:
check_low = pd.concat([df_frac_low, df_res_low], axis=1)
check_high = pd.concat([df_frac_high, df_res_high], axis=1)

check_low.head()

,half_length,proppant,fluid,gross,net,pi,perm,poro
0,229.816160,26.668307,222.983326,6.905236,6.706126,0.277432,0.156698,7.791047
1,209.551591,20.638732,188.501211,1.273507,8.542143,0.639636,0.109525,6.323403
2,212.131298,29.236790,269.241027,5.029536,12.301940,0.698742,0.190633,5.453702
3,200.816016,23.212690,183.930378,9.665719,12.444233,0.253450,0.447716,8.973755
4,208.845392,31.658499,219.842702,3.761849,5.959445,0.635950,0.473424,4.481173

In [ ]:
import numpy as np

numbers =